@import url("../css/variaveis.css");

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1900px;
        height: 100vh;
    background-color: var(--cinzaEscuro);
}

.container{
    border-radius: 15px;
    width: 98vw;
    height: 94vh;
    background-color: var(--branco);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blob01{
    width: 65%;
    position: absolute;
    top: -40px;
    left: -30px;
    transform: rotateY(10deg);
    z-index: 0;
}

#blob02{
    width: 65%;
    position: absolute;
    bottom: 0;
    transform: rotateZ(180deg)
        rotateY(190deg);
    right: 0;
}

header{
    z-index: 1;
    width: 100%;
}

header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

#btnLinks{
    display: block;
    width: 100px;
    height: 35px;
    background-color: #232323;
    margin-right: 5%;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    color: #fff;
    font-family: "Fredoka";
    border-radius: 5px;

}

#btnLinksP{
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-family: "Fredoka";
    color: #fff;
    border-radius: 5px;
    display: block;
    width: 100px;
    height: 35px;
    background-color: #232323;
    margin-right: 5%;
}

.logo{
    width: 200px;
    height: 35px;
    text-align: center;
    font-family: "Bayon";
    font-weight: 500;
    background-color: #fff;
    border-radius: 10px;
    line-height: 35px;
    margin-left: 15%;
}
.logo span{
    color: var(--amarelo);
}

.box_input{
    display: flex;
}

#input_pesquisar{
    border-radius: 40px;
    height: 40px;
    width: 220px;
    border: 1px solid #B4B4B4;
    padding-left: 20px;
    padding-right: 10px;
    outline: none;
    font-size: 1.05rem;
}
#input_pesquisar:focus{
    border: 2px solid var(--laranja);
}
.btn_pesquisar{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--cinzaEscuro);
    border: none;
    background-image: url("../assets/img/icon/Search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    cursor: pointer;
    position: relative;
}

.btn_pesquisar::before{
    content: '';
    position: absolute;
    background-color: var(--cinzaEscuro);
    background-image: url("../assets/img/icon/Login.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    border-radius: 40px;
    transform: rotate(-180deg);
    opacity: 0;
    transition: .5s;

}

.btn_pesquisar:hover::before{
    opacity: 1;
    transform: rotate(0deg);
}





#usuarios_pesquisa{
     font-family: "Sofia sans";
     display: none;
     padding-top: 30px;
     position: fixed;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     top: 70px;
     width: 240px;
      background-color: #fff; 
      border-radius: 10px; 
      margin-top: 10px; 
      transition: 1s; 
      overflow-y: scroll; 
      height: auto;
      max-height: 300px;
      scrollbar-width: none;
       text-align: center;
}
#usuarios_pesquisa h3{
    width: 100%; 
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: .6s;
    position: relative;
}

#usuarios_pesquisa h3::before{
    content: '';
    position: absolute;
    background-image: url("../assets/img/icon/Circled\ Right.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 40px;
    width: 40px;
    right: -40px;
    background-color: transparent;
    transition: .6s;
}

#usuarios_pesquisa h3:hover{
    background-color: #ffde5c;
}
#usuarios_pesquisa h3:hover::before{
    right: 10px;
}

#perfil_usuario{
    display: flex;
    font-family: "Sofia sans";
}
#perfil_usuario div{
    text-align: right;
}

#perfil_usuario img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-left: 10px;
}

.btn-logout{
    position: absolute;
    right: 25px;
    bottom: -45px;
    width: 70px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    font-family: "Sofia sans";
    font-weight: 400;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url("../assets/img/icon/sair.svg");
    background-repeat: no-repeat;
    background-position: center right 5px;
    background-size: 20px;
}














.conteudoSecundario{
    width: 100%;
    height: 89%;
    position: relative;
    background-image: url("../assets/img/alegria.svg");
    background-repeat: no-repeat;
    background-position: right 20px bottom;
}
.boxCards{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    width: 400px;
    height: 100%;
    position: absolute;
}

.boxCards .card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    border-radius: 20px;
    width: 340px;
    height: 150px;
    margin-left: 50px;
    padding-left: 10px;
    padding-right: 10px;
     box-shadow: -5px 5px 8px 2px #00000050; 
    font-size: 2rem;
    font-family: "Bayon";
}

.boxCards .card p{
    padding: 15px 5px;
    font-weight: 600;
    text-align:justify;
    
}



.conteudoPostagens{
    display: flex;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow-y: scroll;
    justify-content: center;
}


.postagem{
    width: 600px;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    
}

.postagemFeita{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: var(--cinzaEscuro);
}
.perfil{
    font-family: "Sofia sans";
    color: var(--branco);
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.nomePerfil{
    margin-left: 15px;
    color: var(--branco);
    font-family: "Sofia sans";

}

.nomePerfil span{
    color: #565656;
}

.postagemFoto{
    border: 1px solid #565656;
    background-color: #000000dd;
    border-radius: 0px 0px 15px 15px;

}

.postagemFoto .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
}

.imagem_postagem{
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.titulo{
    font-family: "Sofia sans";
    margin-top: 5px;
    margin-left:20px;
    color: var(--preto);
    font-size: 1.2rem;
}
.descricao{
    font-family: "Sofia sans";
    color: var(--preto);
    font-size: 1rem;
    margin-left:30px;
}

.curtidasClass{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.curtidasClass span{
    font-family: "Bayon";
    font-size: 1.2rem;
}

.botaoCurtirPost{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.botaoCurtirPost img{
    width: 30px;
    height: 30px;
}


.boxComentarios{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 15px;
     border-radius: 10px; 
     margin: 10px; 
     background: #000000dd;
     box-shadow: 0px 0px 30px 5px #0000007d; 
     display: none; 
     width: 290px; 
     height: 400px;
     scrollbar-width: none;
     overflow-y: scroll;
    bottom: 100px;
    right: 5%;
    font-family: "Sofia sans";
}






.usuarioInfo{
    display: flex;
    color: var(--branco);
}

.mensagensInfo{
    width: 90%;
    height: auto;
    background-color: #111111;
    padding: 10px;
    margin-bottom: 10px;
    color: var(--branco);
    border-radius: 10px;
}


.infoName{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.infoName h3{
    font-size: 1rem;
}
.infoName p{
    font-size: 0.8rem;
}


.inputComentario{
    width: 180px;
    line-height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border: 1px solid rgb(174, 174, 174);
    font-family: "Sofia sans";
}

.botaoComentario{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: var(--branco);
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--cinzaEscuro);
    background-image: url("../assets/img/icon/Login.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    transition: .6s;
}

.botaoComentario:hover{
    transform: scale(1.1);
}
